<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Dapper.Fluent.Tests.ConnectionString" connectionString="Server=localhost;Database=Northwind;Trusted_Connection=true;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>